<div class="split left">
  <div class="centered">
    <div class="text-title">
      <img src="../../../assets/img/login.svg"/>
      <h1>
        Bem-vindo!
      </h1>
      <h2>
        Torne suas ideias realidade.
      </h2>
    </div>
  </div>
</div>
<div class="split right">
  <div class="centered">
    <form #formLogin="ngForm" (ngSubmit)="onSubmit(usuarioTO, formLogin)" novalidate>
      <div fxLayout="column" class="form-field">
        <h1 id="title">Acesse sua conta</h1>
        <p>Acessar esse sistema requer um login, por favor insira suas credenciais a baixo!</p>
        <mat-form-field>

          <mat-label>
            <mat-icon>email</mat-icon>
            E-mail
          </mat-label>
          <input matInput id="inputUsername" type="text" title="{{'LABEL_LOGIN' | i18n}}"
                 name="login" required [(ngModel)]="usuarioTO.login" autocomplete="off"
                 placeholder="{{'LABEL_INFORME_LOGIN' | i18n}}" maxlength="20">
          <mat-error validationMessage [submitted]="submitted"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            <mat-icon>lock</mat-icon>
            Senha
          </mat-label>
          <input matInput id="inputPassword" type="password" class="form-control" title="{{'LABEL_SENHA' | i18n}}"
                 name="senha" required [(ngModel)]="usuarioTO.senha"
                 placeholder="{{'LABEL_INFORME_SENHA' | i18n}}" maxlength="20">
          <mat-error validationMessage [submitted]="submitted"></mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <mat-checkbox color="primary">Lembrar-me</mat-checkbox>
        <button type="submit" title="{{'LABEL_ENTRAR' | i18n}}">
          <span>{{'LABEL_ENTRAR' | i18n}}</span>
        </button>
        <a>Esqueceu a senha</a>
      </div>
    </form>
  </div>
</div>
