<div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">

    <div fxLayout="row">
      <div class="content__title" fxFlex fxFlexAlign="center">
        <span>{{'LABEL_PESQUISAR_AUDITORIA' | i18n}}</span>
      </div>
    </div>

      <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">

          <mat-card-title>
            <span>{{'LABEL_FILTRO_PARA_PESQUISA' | i18n}}</span>
          </mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutGap="0.7%" fxLayoutGap.xs="3%">

            <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.5%">
                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                  <mat-select id="inputSistema" [(ngModel)]="filtroDTO.idSistema"
                              placeholder="{{'LABEL_SISTEMA' | i18n}}" title="{{'LABEL_SISTEMA' | i18n}}" name="sistema"
                              required (selectionChange)="carregarEntidades(filtroDTO.idSistema)">

                      <mat-option *ngFor="let sistema of sistemas" [value]="sistema.id">
                       {{sistema.nome}}
                      </mat-option>
                    </mat-select>
                    <mat-error validationMessage [submitted]="submitted"></mat-error>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                    <mat-label>{{'LABEL_NOME' | i18n}}</mat-label>
                    <input matInput placeholder="{{'LABEL_INFORME_NOME' | i18n}}" title="{{'LABEL_NOME' | i18n}}"
                        name="nome"  maxlength="100" [(ngModel)]="filtroDTO.nome">

                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                    <mat-label>{{'LABEL_LOGIN' | i18n}}</mat-label>
                    <input matInput placeholder="{{'LABEL_INFORME_LOGIN' | i18n}}" title="{{'LABEL_NOME' | i18n}}"
                        name="login"  maxlength="20"  [(ngModel)]="filtroDTO.login">

                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                    <mat-select id="tipoUsuario" [(ngModel)]="filtroDTO.tipoUsuario" placeholder="{{'LABEL_TIPO_USUARIO' | i18n}}" title="{{'LABEL_TIPO_USUARIO' | i18n}}" name="tipoUsuario">
                      <mat-option [value]="undefined">{{ 'LABEL_TODOS' | i18n}}</mat-option>
                      <mat-option *ngFor="let tipoUsuario of listTiposUsuarios" [value]="tipoUsuario.id">
                        {{tipoUsuario.descricao}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.5%">
                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                    <mat-select id="entidade" [(ngModel)]="filtroDTO.idEntidade" placeholder="{{'LABEL_ENTIDADE' | i18n}}" title="{{'LABEL_ENTIDADE' | i18n}}" name="entidade" required
                    [disabled]="entidadesDisabled">

                      <mat-option *ngFor="let entidade of entidades" [value]="entidade.id">
                        {{entidade.nome}}
                      </mat-option>
                    </mat-select>
                    <mat-error validationMessage [submitted]="submitted"></mat-error>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-sm="100" fxFlex.xs="100%">
                    <mat-select id="tipoOperacao" [(ngModel)]="filtroDTO.tipoOperacao" placeholder="{{'LABEL_TIPO_OPERACAO' | i18n}}" title="{{'LABEL_TIPO_OPERACAO' | i18n}}" name="tipoOperacao">
                      <mat-option [value]="undefined">{{ 'LABEL_TODOS' | i18n}}</mat-option>
                      <mat-option *ngFor="let tipoRevisao of listTiposRevisoes" [value]="tipoRevisao.id">
                        {{tipoRevisao.descricao}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.xs="100%">
                  <mat-label>{{'LABEL_DATA_INICIAL' | i18n}}</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dataInicial" name="dataInicial" readonly
                           (focus)="picker.open()" (click)="picker.open()" placeholder="{{'LABEL_DATA_INICIAL' | i18n}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.xs="68%">
                  <mat-label>{{'LABEL_DATA_FINAL' | i18n}}</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="dataFinal" name="dataFinal" readonly
                           (focus)="picker2.open()" (click)="picker2.open()" placeholder="{{'LABEL_DATA_FINAL' | i18n}}">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" >
                <div fxFlex.gt-sm="30" fxFlex.sm="50" fxFlex.lt-sm="100" fxFlexAlign="space-between" fxLayoutAlign="end center">
                  <button fxFlex fxFlexOffset="1" type="submit" title="{{'LABEL_LIMPAR' | i18n}}"
                    (click)="limpar()"
                    class="mat-button mat-raised-button mat-warn mat-button-base">
                    <span>{{'LABEL_LIMPAR' | i18n}}</span>
                  </button>
                  <button fxFlex fxFlexOffset="1" type="submit" title="{{'LABEL_PESQUISAR' | i18n}}"
                         (click)="pesquisar(filtroDTO)"
                          class="mat-button mat-raised-button mat-primary mat-button-base">
                    <span>{{'LABEL_PESQUISAR' | i18n}}</span>
                  </button>
                </div>
              </div>
          </mat-card-content>
      </mat-card>

      <mat-card >
        <mat-card-content *ngIf="dataSource.data.length != 0">
          <div
            fxLayout="column"
            fxFlex="100">

            <div class="table-detail">
              <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="tipoUsuario">
                  <mat-header-cell fxFlex="15" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_TIPO_USUARIO' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="15" ngClass.gt-sm="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_TIPO_USUARIO' | i18n}} :</span>
                      </div>
                      <div >
                        {{getDescricaoTipoUsuario(element.tipoUsuarioPortal)}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loginUsuario">
                  <mat-header-cell fxFlex="15" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_LOGIN' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="15" ngClass.gt-sm="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_LOGIN' | i18n}} :</span>
                      </div>
                      <div >
                        {{element.loginUsuario}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeUsuario">
                  <mat-header-cell fxFlex="30" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_NOME' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="30" ngClass.gt-sm="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_NOME' | i18n}} :</span>
                      </div>
                      <div >
                        {{element.nomeUsuario}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidade">
                  <mat-header-cell fxFlex="20" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_ENTIDADE' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="20" ngClass.gt-sm="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_ENTIDADE' | i18n}} :</span>
                      </div>
                      <div >
                        {{element.entidadeNome}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dataOperacao">
                  <mat-header-cell fxFlex="10" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_DATA_OPERACAO' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="10" ngClass.gt-sm="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_DATA_OPERACAO' | i18n}} :</span>
                      </div>
                      <div >
                        {{ element.dataHoraAlteracao | date:'dd/MM/yyyy'}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipoOperacao">
                  <mat-header-cell fxFlex="10" class="style-header" fxLayoutAlign="center center" *matHeaderCellDef> {{ 'LABEL_TIPO_OPERACAO' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="10" ngClass.gt-xs="style-column"  fxLayoutAlign="start center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center end">
                        <span class="mat-body-strong" >{{ 'LABEL_TIPO_OPERACAO' | i18n}} :</span>
                      </div>
                      <div >
                        {{getDescricaoTipoRevisao(element.tipoRevisao)}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acoes">
                      <mat-header-cell fxFlex="80px" class="style-header f" fxLayoutAlign="center center" *matHeaderCellDef>Ações </mat-header-cell>
                      <mat-cell fxFlex="80px"  fxLayoutAlign="center center"
                                *matCellDef="let element">
                        <div fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
                          <div  fxHide.gt-xs="true" fxLayoutAlign="center end">
                            <span  class="mat-body-strong" >{{ 'LABEL_ACOES' | i18n}} :</span>
                          </div>
                          <div fxLayout="row" fxLayoutAlign="center center">
                            <a mat-mini-fab title="{{'LABEL_VISUALIZAR_AUDITORIA' | i18n}}" class="btn-primary"
                               *ngIf="securityService.hasRoles('ROLE_AUDITORIA_VISUALIZAR')"
                               [routerLink]="['/administracao/audit', element.id, element.idAudit, element.idEntidade, 'visualizar']">
                              <mat-icon>search</mat-icon>
                            </a>
                          </div>
                        </div>
                      </mat-cell>
                    </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" fxHide.lt-sm="true" ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" fxLayout.lt-sm="column" fxLayout="row"
                         fxLayoutAlign.lt-sm="space-around stretch"
                         ngClass.lt-sm="mat-row-lt-sm" ></mat-row>

              </mat-table>
            </div>





          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator [pageSize]="PAGINATOR_PAGE_SIZE"  hidePageSize showFirstLastButtons></mat-paginator>
        </mat-card-footer>
        <mat-card-actions *ngIf="dataSource.data.length != 0">
          <div fxLayout="row" fxFlex="100" fxLayoutGap="0.5%" fxLayoutAlign="left center">
          <div fxFlex.gt-sm="30" fxFlex.sm="50" fxFlex.lt-sm="100" fxFlexAlign="space-between"
               fxLayoutAlign="end center">

            <button fxFlex fxFlexOffset="1" type="submit" title="{{'LABEL_EXPORTAR' | i18n}}"
                    (click)="exportar()"
                    class="mat-button mat-raised-button mat-primary mat-button-base">
              <span>{{'LABEL_EXPORTAR' | i18n}}</span>
            </button>
          </div>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
