<div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%"  fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.xs="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>
        <span class="content__title">{{'LABEL_RECUPERAR_SENHA' | i18n}}</span>
      </div>
    </div>
    <mat-card>
      <mat-card-title [style.text-align]="'center'">
        <mat-icon class="icon_size" color="primary">person_pin</mat-icon>

      </mat-card-title>
      <mat-card-content>
        <form #formLogin="ngForm" (ngSubmit)="onSubmit(data.cpfCnpj, formLogin)" novalidate>
          <div fxLayout="column">
            <mat-form-field>
              <mat-label>{{'LABEL_INFORME_CPF' | i18n}}</mat-label>
              <input matInput id="inputUsername" type="text" title="{{'LABEL_CPF' | i18n}}"
                     name="login" required [(ngModel)]="data.cpfCnpj" autocomplete="off"
                     [inputMask]="['00.000.000/0000-00', '000.000.000-00']"
                     placeholder="{{'LABEL_CPF' | i18n}}" maxlength="20">
              <mat-error validationMessage [submitted]="submitted"></mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" title="{{'LABEL_ENTRAR' | i18n}}">
              <span>{{'LABEL_ENTRAR' | i18n}}</span>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
