
//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$purple-900: #835AFD;
$pink-900: #D67EE2;
$pink-500: #E559F9;

$info-900: #FAAD14;
$success-900: #52C41A;

$mat-purple: (
  900: #835AFD,
  contrast: (
    100: $black,
  )
);
$mat-pink: (
  500: #E559F9,
  900: #D67EE2,
  contrast: (
    100: $black,
  )
);
$mat-warn: (
  900: #FF4D4F,
  contrast: (
    100: $black,
  )
);

$grays: () !default;
